@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .highlight {
    position: relative;
    z-index: 1;
  }
  .highlight::before {
    content: ""; /* Ensure the pseudo-element has content */
    position: absolute;
    display: block;
    border-bottom: 18px solid #ffbe62; /* Define the bottom border */
    top: 58%;
    right: 0;
    left: 0;
    z-index: -1;
  }
  .header1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 83.2px;
    letter-spacing: -1%;
  }
  .header2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
    letter-spacing: -1%;
  }
  .header3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 33.6px;
    letter-spacing: -0.5%;
  }
  .base1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: -0.5%;
  }
  .base-bold {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
  }
  .paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .paragraph-bold {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }
  .body-reg {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
  }
  .body-bold {
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
  }
  .sm-reg {
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
  }
  .sm-bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 20.3px;
  }
}
@layer utilities {
  .skills {
    @apply transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300;
  }
  .Card {
    @apply shadow-work cursor-pointer bg-white-900 sm:border sm:border-white-800 sm:dark:border-none sm:shadow-none;
  }
  .Card:hover {
    @apply sm:hover:shadow-work transition duration-300 sm:translate-x-6;
  }
  .service-card {
    @apply shadow-serv cursor-pointer;
  }
  .service-card:hover {
    @apply hover:bg-Accent-light dark:hover:bg-Accent-dark dark:hover:shadow-serv-hover;
  }
}

@layer components {
  /*********** Baseline, reset styles ***********/
  input[type="range"] {
    @apply appearance-none bg-transparent cursor-pointer w-full;
  }

  /* Removes default focus */
  input[type="range"]:focus {
    @apply outline-none;
  }

  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-[#151E2C] dark:bg-[#778295] h-[1px];
  }

  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none mt-[-14.5px] sm:mt-[-21.5px] bg-black-200 dark:bg-white-900 rounded-full h-[30px] sm:h-11 w-[30px] sm:w-11;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    @apply outline outline-1 outline-[#151E2C] dark:outline-[#778295] outline-offset-8 sm:outline-offset-[10px];
  }

  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    @apply bg-[#151E2C] dark:bg-[#778295] h-[1px];
  }

  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    @apply outline outline-1 outline-[#151E2C] dark:outline-[#778295] outline-offset-8 sm:outline-offset-[10px]
 border-none;
  }

  input[type="range"]:focus::-moz-range-thumb {
    @apply outline outline-1 outline-[#151E2C] dark:outline-[#778295] outline-offset-8 sm:outline-offset-[10px];
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
