@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .highlight{
    position: relative;
    z-index: 1;
  }
  .highlight::before {
    content: ""; /* Ensure the pseudo-element has content */
    position: absolute;
    display: block; 
    border-bottom: 18px solid #FFBE62; /* Define the bottom border */
    top: 58%;
    right: 0;
    left: 0;
    z-index: -1;
  }
  .header1{
    font-size: 56px;
    font-weight: 700;
    line-height: 83.2px;
    letter-spacing: -1%;
  }
  .header2{
    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
    letter-spacing: -1%;
  }
  .header3{
    font-size: 32px;
    font-weight: 600;
    line-height: 33.6px;
    letter-spacing: -0.5%;
  }
  .base1{
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: -0.5%;
  }
  .base-bold{
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
  }
  .paragraph{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .paragraph-bold{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }
  .body-reg{
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
  }
  .body-bold{
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
  }
  .sm-reg{
    font-size: 14px;
    font-weight: 400;
    line-height: 21.7px;
  }
  .sm-bold{
    font-size: 14px;
    font-weight: 600;
    line-height: 20.3px;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
